# Node
node_modules/

# Build
dist/
coverage/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Temporary
tmp/
temp/
.cache/